<h1>{{user.firstName}}'s</h1>
<h4>Profile Page</h4>
{{#if stories}}
<table class="striped">
  <thead>
    <tr>
      <th>Title</th>
      
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each stories}}
    <tr>
      <td><a href="/stories/show/{{user.id}}">{{title}}</a></td>
      <td><span class="dash-status">{{status}}</span></td>
      </td>
    </tr>
    {{/each}}
  </tbody>

</table>
{{else}}
  <p class="gugi">This user has no code yet.</p>
{{/if}}